html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}
li {
list-style:none;
}
ul a{text-decoration:none;
font-size:12px
}
ul a:hover {text-decoration:none;
color: #860000;
}
:focus {/* remember to define focus styles! */
outline: 0;
}
#NoScript {
background:none repeat scroll 0% 0% rgb(255,255,255);
border-top:2px solid #0073B4;
border-bottom:2px solid #0073B4;
height:100%;
opacity:0.9
padding:5px 0;
position:absolute;
text-align:center;
width:100%;
z-index:9999;
}
#NoScript h6 {
color:rgb(102,102,102);
font-size:24px;
margin-left:-30px;
margin-top:-18px
position:absolute;
text-align:center;
top:50%;
width:100%;
}
body{
background-color:#666;
margin: 0;
padding: 0;
font-family:Segoe UI;
font-size:12px;
transition:0.8s linear;
-o-transition:0.8s linear;
-ms-transition:0.8s linear;
-moz-transition:0.8s linear;
-webkit-transition:0.8s linear
transition:all .4s ease-out;
text-align:left;
}
ol, ul {
list-style: none;
}
a img {
margin-top:0px;-webkit-transition:all .4s ease-in-out;
margin-top:0px;-moz-transition:all .4s ease-in-out;
margin-top:0px;-o-transition:all .4s ease-in-out;
margin-top:0px;-ms-transition:all .4s ease-in-out;
margin-top:0px;transition:all .4s ease-in-out
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
/* Headings */
h1,h2,h3,h4,h5,h6 {
clear: both;
}
hr {
background-color: #ccc;
border: 0;
height: 1px;
margin-bottom: 1.625em;
}
/* Text elements */
p {
margin-bottom:20px;
}
ul, ol {
margin: 0 0 1.625em 2.5em;
}
ul {
list-style: square;
}
ol {
list-style-type: decimal;
}
ol ol {
list-style: upper-alpha;
}
ol ol ol {
list-style: lower-roman;
}
ol ol ol ol {
list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
margin-bottom: 0;
}
dl {
margin: 0 1.625em;
}
dt {
font-weight: bold;
}
dd {
margin-bottom: 1.625em;
}
strong {
font-weight: bold;
}
cite, em, i {
font-style: italic;
}
blockquote {
overflow: auto;
height: 50%;
background: #EEE;
margin: 15px 0 15px 10px;
max-height:280px;
padding: 15px;
font-style: normal;
font-size: 11px;
border-left: 5px solid #666;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-topleft: 20px;
border-top-left-radius: 20px;
}
pre {
background: #EEE;
font: 12px "Courier 10 Pitch", Courier, monospace;
line-height: 1.5;
margin-top:5px;
margin-bottom:5px;
overflow: auto;
padding: 5px;
}
code, kbd {
font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
border-bottom: 1px dotted #666;
cursor: help;
}
address {
display: block;
margin: 0 0 1.625em;
}
ins {
background: #fff9c0;
text-decoration: none;
}
sup,
sub {
font-size: 10px;
height: 0;
line-height: 1;
position: relative;
vertical-align: baseline;
}
sup {
bottom: 1ex;
}
sub {
top: .5ex;
}
/* Links */
a {
color: #0048FF;
text-decoration: none;
-o-transition:0.6s linear;
-ms-transition:0.6s linear;
-moz-transition:0.6s linear;
-webkit-transition:0.6s linear
transition:all .4s ease-out;
}
a:focus,
a:active,
a:hover {
transition-duration:0s;
text-decoration: none;
}
/* Assistive text */
.assistive-text {
position: absolute !important;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
background: #eee;
border-bottom: 1px solid #ddd;
color: #AD3000;
clip: auto !important;
font-size: 12px;
position: absolute;
text-decoration: none;
top: 0;
left: 7.6%;
}
/* Search Form */
#branding #searchform {
position: absolute;
top: 3.8em;
right: 7.6%;
text-align: right;
}
#branding #searchform div {
margin: 0;
}
#branding #s {
float: right;
-webkit-transition-duration: 400ms;
-webkit-transition-property: width, background;
-webkit-transition-timing-function: ease;
-moz-transition-duration: 400ms;
-moz-transition-property: width, background;
-moz-transition-timing-function: ease;
-o-transition-duration: 400ms;
-o-transition-property: width, background;
-o-transition-timing-function: ease;
width: 72px;
}
#branding #s:focus {
background-color: #f9f9f9;
width: 196px;
}
#branding #searchsubmit {
display: none;
}
#branding .only-search #searchform {
top: 5px;
z-index: 1;
}
#branding .only-search #s {
background-color: #666;
border-color: #000;
color: #222;
}
#branding .only-search #s,
#branding .only-search #s:focus {
width: 85%;
}
#branding .only-search #s:focus {
background-color: #bbb;
}
#branding .with-image #searchform {
top: auto;
bottom: -27px;
max-width: 195px;
}
#branding .only-search + #access div {
padding-right: 205px;
}
/* =Content */
#main {
clear: both;
}
.page-title {
color: #666;
font-size: 10px;
font-weight: 500;
letter-spacing: 0.1em;
line-height: 2.6em;
margin: 0 0 2.6em;
text-transform: uppercase;
}
.page-title a {
font-size: 12px;
font-weight: bold;
letter-spacing: 0;
text-transform: none;
}
.hentry,
.no-results {
border-bottom: 1px solid #ddd;
margin: 0 0 1.625em;
padding: 0 0 1.625em;
position: relative;
}
.hentry:last-child,
.no-results {
border-bottom: none;
}
.blog .sticky .entry-header .entry-meta {
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
position: absolute !important;
}
/* =Quote */
.format-quote blockquote {
color: #000;
font-size: 12px;
margin: 0;
}
/* =error404 */
.error404 #main #searchform {
background: #f9f9f9;
border: 1px solid #ddd;
border-width: 1px 0;
margin: 0 -8.9% 1.625em;
overflow: hidden;
padding: 1.625em 8.9%;
}
.error404 #main #s {
width: 95%;
}
.error404 #main .widget {
clear: none;
float: left;
margin-right: 3.7%;
width: 30.85%;
}
.error404 #main .widget_archive {
margin-right: 0;
}
.error404 #main .widget_tag_cloud {
float: none;
margin-right: 0;
width: 100%;
}
.error404 .widgettitle {
font-size: 10px;
letter-spacing: 0.1em;
line-height: 2.6em;
text-transform: uppercase;
}
/* =Table */
table[border="1"] {
border-collapse:collapse;
font:normal 12px Verdana,Arial,Sans-Serif;
color:#333;
}
table[border="1"] tr {
background:#F0F0F0;
}
table[border="1"] th, table[border="1"] td {
vertical-align:top;
padding:5px 10px;
border:2px solid #fff;
}
table[border="1"] tr:nth-child(even) {
background:#DEDEDE;
}
table[border="1"] th {
background:#AD3000;
border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
color:#fff;
font-weight:bold;
}
/* =Navigation */
#css-menu {
background-color: #666;
border: 3px solid #666;
height: 27px;
padding-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
}
.nav {
float: left;
height: 26px;
line-height: 1;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
z-index: 99;
}
.nav a {
-moz-text-blink: none;
-moz-text-decoration-color: -moz-use-text-color;
-moz-text-decoration-line: none;
-moz-text-decoration-style: solid;
-webkit-text-blink: none;
-webkit-text-decoration-color: -webkit-use-text-color;
-webkit-text-decoration-line: none;
-webkit-text-decoration-style: solid;
-ms-text-blink: none;
-ms-text-decoration-color: -ms-use-text-color;
-ms-text-decoration-line: none;
-ms-text-decoration-style: solid;
-o-text-blink: none;
-o-text-decoration-color: -o-use-text-color;
-o-text-decoration-line: none;
-o-text-decoration-style: solid;
color: #111111;
display: block;
position: relative;
z-index: 100;
}
.nav li {
float: left;
margin-bottom: 0;
margin-left: 0;
margin-right: 5px;
margin-top: 0;
}
.nav li a {
-moz-font-feature-settings: normal;
-moz-font-language-override: normal;
-moz-text-blink: none;
-moz-text-decoration-color: -moz-use-text-color;
-moz-text-decoration-line: none;
-moz-text-decoration-style: solid;
-webkit-font-feature-settings: normal;
-webkit-font-language-override: normal;
-webkit-text-blink: none;
-webkit-text-decoration-color: -webkit-use-text-color;
-webkit-text-decoration-line: none;
-webkit-text-decoration-style: solid;
-ms-font-feature-settings: normal;
-ms-font-language-override: normal;
-ms-text-blink: none;
-ms-text-decoration-color: -ms-use-text-color;
-ms-text-decoration-line: none;
-ms-text-decoration-style: solid;
-o-font-feature-settings: normal;
-o-font-language-override: normal;
-o-text-blink: none;
-o-text-decoration-color: -o-use-text-color;
-o-text-decoration-line: none;
-o-text-decoration-style: solid;
-x-system-font: none;
font-family: arial;
font-size: 12px;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 15px;
padding-bottom: 6px;
padding-left: 10px;
padding-right: 0;
padding-top: 6px;
}
.nav li a span {
color: #FFFFFF;
font-weight: normal;
padding-bottom: 4px;
padding-left: 0;
padding-right: 12px;
padding-top: 5px;
text-shadow: 0px 1px 1px #000;
}
.nav li.current-cat a, .nav li.current-cat a, .nav li:hover a, .nav li a:hover {
-moz-font-feature-settings: normal;
-moz-font-language-override: normal;
-moz-text-blink: none;
-moz-text-decoration-color: -moz-use-text-color;
-moz-text-decoration-line: none;
-moz-text-decoration-style: solid;
-webkit-font-feature-settings: normal;
-webkit-font-language-override: normal;
-webkit-text-blink: none;
-webkit-text-decoration-color: -webkit-use-text-color;
-webkit-text-decoration-line: none;
-webkit-text-decoration-style: solid;
-ms-font-feature-settings: normal;
-ms-font-language-override: normal;
-ms-text-blink: none;
-ms-text-decoration-color: -ms-use-text-color;
-ms-text-decoration-line: none;
-ms-text-decoration-style: solid;
-o-font-feature-settings: normal;
-o-font-language-override: normal;
-o-text-blink: none;
-o-text-decoration-color: -o-use-text-color;
-o-text-decoration-line: none;
-o-text-decoration-style: solid;
-x-system-font: none;
color: #FFFFFF;
font-size: 12px;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 15px;
margin-bottom: 0;
}
.nav li:hover span, .nav li a:hover span {
font-weight: normal;
}
.nav li.current-cat a {
background-color: #333;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
color: #EEEEEE;
height: 15px;
font-size:20px;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: -9px;
padding:15px;
}
.nav li.current-cat a:hover {
background-color: #111;
}
.nav li.current-cat a span {
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: url("https://lh3.googleusercontent.com/-eEoX3YdUMGg/UHxDSVpNFcI/AAAAAAAAD9s/gGao2ZhvyNM/s18/hbhjs.png");
background-origin: padding-box;
background-position: 0 center;
background-repeat: no-repeat;
background-size: auto auto;
padding-left: 25px;
}
.nav li.news:hover, .nav li.news:hover ul {
background-color: black;
}
.nav li.news1:hover, .nav li.news1:hover ul {
background-color: #017CB5;
}
.nav li.news1:hover ul li {
border-bottom-color: #014F73;
border-bottom-style: solid;
border-bottom-width: 1px;
border-top-color: #038BCA;
border-top-style: solid;
border-top-width: 1px;
}
.nav li.news2:hover, .nav li.news2:hover ul {
background-color: #A92267;
}
.nav li.news2:hover ul li {
border-bottom-color: #701544;
border-bottom-style: solid;
border-bottom-width: 1px;
border-top-color: #C72B7B;
border-top-style: solid;
border-top-width: 1px;
}
.nav li.news3:hover, .nav li.news3:hover ul {
background-color: #0F5594;
}
.nav li.news3:hover ul li {
border-bottom-color: #0A3963;
border-bottom-style: solid;
border-bottom-width: 1px;
border-top-color: #166BB7;
border-top-style: solid;
border-top-width: 1px;
}
.nav li.news4:hover, .nav li.news4:hover ul {
background-color: #693770;
}
.nav li.news4:hover ul li {
border-bottom-color: #45254A;
border-bottom-style: solid;
border-bottom-width: 1px;
border-top-color: #9A52A4;
border-top-style: solid;
border-top-width: 1px;
}
.nav li.news5:hover, .nav li.news5:hover ul {
background-color: #3B6A06;
}
.nav li.news5:hover ul li {
border-bottom-color: #264404;
border-bottom-style: solid;
border-bottom-width: 1px;
border-top-color: #4D8909;
border-top-style: solid;
border-top-width: 1px;
}
.nav li.news6:hover, .nav li.news6:hover ul {
background-color: #46505C;
}
.nav li.news6:hover ul li {
border-bottom-color: #252A30;
border-bottom-style: solid;
border-bottom-width: 1px;
border-top-color: #5C6978;
border-top-style: solid;
border-top-width: 1px;
}
.nav li.news7:hover, .nav li.news7:hover ul {
background-color: #9A1313;
}
.nav li.news7:hover ul li {
border-bottom-color: #650D0D;
border-bottom-style: solid;
border-bottom-width: 1px;
border-top-color: #B81919;
border-top-style: solid;
border-top-width: 1px;
}
.nav li.news9:hover, .nav li.news9:hover ul {
background-color: #A92267;
}
.nav li.news9:hover ul li {
border-bottom-color: #741847;
border-bottom-style: solid;
border-bottom-width: 1px;
border-top-color: #C52C7A;
border-top-style: solid;
border-top-width: 1px;
}
.nav li.news1:hover ul li.first, .nav li.news2:hover ul li.first, .nav li.news3:hover ul li.first, .nav li.news4:hover ul li.first, .nav li.news5:hover ul li.first, .nav li.news6:hover ul li.first, .nav li.news7:hover ul li.first, .nav li.news8:hover ul li.first, .nav li.news9:hover ul li.first {
border-top-color: -moz-use-text-color;
border-top-style: none;
border-top-width: 0;
}
.nav li.news1:hover ul li.last, .nav li.news2:hover ul li.last, .nav li.news3:hover ul li.last, .nav li.news4:hover ul li.last, .nav li.news5:hover ul li.last, .nav li.news6:hover ul li.last, .nav li.news7:hover ul li.last, .nav li.news8:hover ul li.last, .nav li.news9:hover ul li.last {
border-bottom-color: -moz-use-text-color;
border-bottom-style: none;
border-bottom-width: medium;
}
.nav li a:hover, .nav li a:active {
color: #B80000;
}
.nav li ul {
background-attachment: scroll;
background-clip: border-box;
background-color: #FFFFFF;
background-image: none;
background-origin: padding-box;
background-position: 0 0;
background-repeat: repeat;
background-size: auto auto;
left: -999em;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0;
margin-left: 0;
margin-right: 1px;
margin-top: 0;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 0;
padding-top: 5px;
position: absolute;
width: 168px;
z-index: 999999;
}
.nav .last ul {
background-attachment: scroll;
background-clip: border-box;
background-color: #FFFFFF;
background-image: none;
background-origin: padding-box;
background-position: 0 0;
background-repeat: repeat;
background-size: auto auto;
margin-bottom: 0;
margin-left: 1px;
margin-right: 1px;
margin-top: 0;
position: absolute;
width: 168px;
z-index: 999;
}
.nav li ul li {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-webkit-border-bottom-colors: none;
-webkit-border-left-colors: none;
-webkit-border-right-colors: none;
-webkit-border-top-colors: none;
-ms-border-bottom-colors: none;
-ms-border-left-colors: none;
-ms-border-right-colors: none;
-ms-border-top-colors: none;
-o-border-bottom-colors: none;
-o-border-left-colors: none;
-o-border-right-colors: none;
-o-border-top-colors: none;
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: none;
background-origin: padding-box;
background-position: 0 0;
background-repeat: repeat;
background-size: auto auto;
border-bottom-color: -moz-use-text-color;
border-bottom-style: none;
border-bottom-width: medium;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color-ltr-source: physical;
border-left-color-rtl-source: physical;
border-left-color-value: -moz-use-text-color;
border-left-style-ltr-source: physical;
border-left-style-rtl-source: physical;
border-left-style-value: none;
border-left-width-ltr-source: physical;
border-left-width-rtl-source: physical;
border-left-width-value: medium;
border-right-color-ltr-source: physical;
border-right-color-rtl-source: physical;
border-right-color-value: -moz-use-text-color;
border-right-style-ltr-source: physical;
border-right-style-rtl-source: physical;
border-right-style-value: none;
border-right-width-ltr-source: physical;
border-right-width-rtl-source: physical;
border-right-width-value: medium;
border-top-color: -moz-use-text-color;
border-top-style: none;
border-top-width: medium;
clear: both;
margin-left: 0;
padding-bottom: 5px;
padding-left: 0;
padding-right: 0;
padding-top: 5px;
width: 160px;
}
.nav li ul li a {
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: none;
background-origin: padding-box;
background-position: 0 0;
background-repeat: repeat;
background-size: auto auto;
color: #FFFFFF !important;
font-size: 12px;
padding-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
text-transform: none;
}
.nav li:hover ul li a {
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: none;
background-origin: padding-box;
background-position: 0 0;
background-repeat: repeat;
background-size: auto auto;
font-weight: normal;
}
.nav li:hover, .nav li.hover {
position: static;
}
.nav li:hover ul ul, .nav li:hover ul ul ul, .nav li:hover ul ul ul ul {
}
.nav li:hover ul, .nav li li:hover ul, .nav li li li:hover ul, .nav li li li li:hover ul {
left: auto;
}
#content nav {
clear: both;
overflow: hidden;
padding: 0 0 1.625em;
}
#content nav a {
font-size: 12px;
font-weight: bold;
line-height: 2.2em;
}
#nav-above {
padding: 0 0 1.625em;
}
#nav-above {
display: none;
}
.paged #nav-above {
display: block;
}
.nav-previous {
float: left;
width: 50%;
}
.nav-next {
float: right;
text-align: right;
width: 50%;
}
#content nav .meta-nav {
font-weight: normal;
}
/* Singular navigation */
#nav-single {
float: right;
position: relative;
top: -0.3em;
text-align: right;
width: 100%;
z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
float: none;
width: auto;
}
#nav-single .nav-next {
padding-left: .5em;
}
/* =Widgets */
.widget-area {
font-size: 15px;
}
.widget-title {
color: #333;
font-size: 13px;
font-weight: 500;
letter-spacing: 0.1em;
line-height: 2.6em;
text-transform: uppercase;
}
.widget ul {
font-size: 15px;
margin: 0;
}
.widget ul ul {
margin-left: 1.5em;
}
.widget ul li {
font-size: 12px;
}
.widget a {
font-weight: normal;
text-decoration: none;
}
.widget a:hover,
.widget a:focus,
.widget a:active {
text-decoration: none;
color: #AD3000;
}
/* Search Widget */
.widget_search form {
margin: 0 0 1.625em;
}
.widget_search #s {
width: 77%;
}
.widget_search #searchsubmit {
background: #ddd;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
-moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
color: #888;
font-size: 13px;
line-height: 25px;
position: relative;
top: -2px;
}
.widget_search #searchsubmit:active {
background: #1982d1;
border-color: #0861a5;
-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
color: #bfddf3;
}
/* =Footer */
#colophon {
clear: both;
}
#supplementary {
border-top: 1px solid #ddd;
padding: 1.625em 7.6%;
overflow: hidden;
}
/* Two Footer Widget Areas */
#supplementary.two .widget-area {
float: left;
margin-right: 3.7%;
width: 48.1%;
}
#supplementary.two .widget-area + .widget-area {
margin-right: 0;
}
/* Three Footer Widget Areas */
#supplementary.three .widget-area {
float: left;
margin-right: 3.7%;
width: 30.85%;
}
#supplementary.three .widget-area + .widget-area + .widget-area {
margin-right: 0;
}
/* Site Generator Line */
#site-generator {
background: #f9f9f9;
border-top: 1px solid #ddd;
color: #666;
font-size: 12px;
line-height: 2.2em;
padding: 2.2em 0.5em;
text-align: center;
}
#site-generator a {
color: #555;
font-weight: bold;
}
#site-generator .sep {
color: transparent;
display: inline-block;
height: 16px;
line-height: 16px;
margin: 0 7px;
width: 16px;
}
/* =Print */
@media print {
body, .body-fauxcolumn-outer {
background: none !important;
font-size: 10pt;
}
footer.entry-meta a[rel=bookmark]:link:after,
footer.entry-meta a[rel=bookmark]:visited:after {
content: " [" attr(href) "] "; /* Show URLs */
}
#page {
clear: both !important;
display: block !important;
float: none !important;
max-width: 100%;
position: relative !important;
}
#branding {
border-top: none !important;
padding: 0;
}
#branding hgroup {
margin: 0;
}
#site-title a {
font-size: 21pt;
}
#site-description {
font-size: 10pt;
}
#branding #searchform {
display: none;
}
#branding img {
display: none;
}
#access {
display: none;
}
#main {
border-top: none;
box-shadow: none;
}
#primary {
float: left;
margin: 0;
width: 100%;
}
#content {
margin: 0;
width: auto;
}
.singular #content {
margin: 0;
width: 100%;
}
.singular .entry-header .entry-meta {
position: static;
}
.entry-meta .edit-link a {
display: none;
}
#content nav {
display: none;
}
.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta {
margin: 0;
width: 100%;
}
.singular .hentry {
padding: 0;
}
.entry-title,
.singular .entry-title {
font-size: 21pt;
}
.entry-meta {
font-size: 10pt;
}
.entry-header .comments-link {
display: none;
}
.page-link {
display: none;
}
.singular #author-info {
background: none;
border-bottom: none;
border-top: none;
margin: 2.2em 0 0;
padding: 0;
}
#respond {
display: none;
}
.widget-area {
display: none;
}
#colophon {
display: none;
}
}
/* =IE7 */
#ie7 article.intro {
margin-left: -7.6%;
margin-right: -7.6%;
padding-left: -7.6%;
padding-right: -7.6%;
max-width: 1000px;
}
#ie7 section.featured-post {
margin-left: -7.6%;
margin-right: -7.6%;
max-width: 850px;
}
#ie7 section.recent-posts {
margin-right: 7.6%;
}
/*  */
a:hover
{
text-decoration:none;
}
/* Header */
#header-wrapper {
background-color:#fff;
position:relative
}
#header {
color:#666666;margin:0
}
#headtitle {
display:inline-block;
text-align:left;
margin-left:10px;
margin-bottom:10px;
width:100%;
float:left
}
#isihead {
overflow:hidden
}
#header h1{
font-size:30px;
line-height:1.2em;
text-transform:uppercase
}
#header a {
color:#666666;
text-decoration:none
}
#header a:hover {
color:#AD3000
}
#header .description {
color:#999
font-size:20px;
font-weight:bold;
margin:0;
padding:0;
text-transform:capitalize;
line-height:1.4em;
}
#header img {
margin-left:auto;
margin-right:auto
}
.titlewrapper p.title {
font-family:'Droid Sans',Arial,Verdana,sans-serif;
font-size:200%
}
#sign_in_nav
{
padding: 0;
margin: 20px 0 0 25px;
width: auto;
height: 32px;
line-height: 33px;
text-transform: none;
text-shadow: 0px 1px 1px black;
float:left;
font-weight: bold;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
cursor: pointer;
margin-right: 1px;
}
.btn_ext_blue {
background-color: #008FD5;
-moz-box-shadow: inset 0 1px 2px #51b8e4;
-webkit-box-shadow: inset 0 1px 2px #51b8e4;
box-shadow: inset 0 1px 2px #51b8e4;
text-shadow: #014875 0px 1px 1px;
border: 1px solid #164758;
}
.btn_ext_blue:hover {
background: rgb(0,151,230); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,143,213,1) 0%, rgba(0,151,230,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,143,213,1)), color-stop(100%,rgba(0,151,230,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,143,213,1) 0%,rgba(0,151,230,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,143,213,1) 0%,rgba(0,151,230,1) 100%); /* Opera11.10+ */
/* background: -ms-linear-gradient(top, rgba(0,143,213,1) 0%,rgba(0,151,230,1) 100%); /* IE10+
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008fd5', endColorstr='#0097e6',GradientType=0 );  IE6-9 */
background: linear-gradient(top, rgba(0,143,213,1) 0%,rgba(0,151,230,1) 100%); /* W3C */
-webkit-box-shadow: inset 0 1px 2px #51b8e4;
}
.btn_ext_orange {
background-color: #008FD5;
-moz-box-shadow: inset 0 1px 2px #51b8e4;
-webkit-box-shadow: inset 0 1px 2px #51b8e4;
box-shadow: inset 0 1px 2px #51b8e4;
text-shadow: #014875 0px 1px 1px;
border: 1px solid #164758;
background-color: #F90;
-moz-box-shadow: inset 0 1px 2px #FC0;
-webkit-box-shadow: inset 0 1px 2px #FC0;
box-shadow: inset 0 1px 2px #FC0;
text-shadow: #930 0px 1px 1px;
border: 1px solid #930;
}
.btn_ext_orange:hover {
background: #F60;
}
#sign_in_nav span
{
height: 29px;
line-height: 20px;
font-weight: bold;
color: white;
font-size: 20px;
display: inline-block;
border: 0;
padding: 0 24px;
padding-top: 6px;
}
#navsignin
{
min-width:146px;
height:28px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
margin-top:9px;
margin-left:14px;
float:left;
color:#dddddd;
background-color:#444444;
}
#navsignin a
{
line-height:16px;
}
#sepNav
{
width:1px;
height:16px;
float:left;
margin: 6px 0;
background-color:#555555;
}
#headerBottom
{
width:100%;
min-height:69px;
padding-top:24px;
background: #36739e; /* Old browsers */
background: -moz-linear-gradient(top, rgba(54,115,158,1) 35%, rgba(43,91,127,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(54,115,158,1)), color-stop(100%,rgba(43,91,127,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(54,115,158,1) 35%,rgba(43,91,127,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(54,115,158,1) 35%,rgba(43,91,127,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(54,115,158,1) 35%,rgba(43,91,127,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36739e', endColorstr='#2b5b7f',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(54,115,158,1) 35%,rgba(43,91,127,1) 100%);
}
#headerBottom-inner
{
width:977px;
margin:0 auto;
padding-left:1px;
}
.clearfix {
clear: both;
height: 0;
line-height: 0;
}
#outer-wrapper {
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
border: 5px solid #eee;
box-shadow:0px 0px 5px black;-moz-box-shadow:0px 0px 5px black;-webkit-box-shadow:0px 0px 3px black;
max-width:980px;
margin:0 auto;
margin-top:10px;
}
#Content
{
width:100%;
}
#contentInner
{
background-color:#eee;
width:100%;
margin:0 auto;
}
#footer
{
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
width:100%;
border-top: 1px solid #ABABAB;
height: auto !important;
background: #666;
}
#atas-posting {
float:left;
width:69%;
margin-bottom:0;
}
#content_left
{
float:left;
width:69%;
margin:0 auto;
margin-bottom:10px;
}
#content_right
{
width:30%;
float:right;
margin:0 auto;
padding-bottom:10px;
}
#content_top
{
margin-top:10px;
margin-left: 2px;
}
#content_bottom
{
margin-top:20px;
}
.content_box
{
background-color:#fff;
margin-bottom:5px;
padding:10px;
}
.content_box img {
display: block;
margin: 0 auto;
max-width:95%;
text-align: center;
}
.content_box h1
{
color:#333333;
font: normal normal 20px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
margin:0;
padding:0;
padding-top: 5px;
font-weight: bold;
text-shadow: 2px 0px 0px #ddd;
}
.content_box h1 a {
color:#333333;
text-decoration:none;
}
.content_box h1 a:hover {
color: #0370A8;
text-decoration:none;
}
.content_box .postmeta
{
color:#434343;
}
.spanstyle
{
margin-top: 10px;
margin-bottom: 16px;
float:left;
}
.content_box div span a
{
color:#0370a8;
text-decoration:none;
}
#content_image
{
width:145px;
height:145px;
float:left;
margin-right:20px;
margin-top:10px;
}
#content_text
{
float:left;
width:465px;
color:#444444;
line-height:23px;
border-bottom: 1px solid #DDD;
padding-bottom:10px;
line-height: 1.5em;
font-size: 12px;
}
#content_text p
{
margin-bottom:0;
}
.readmore
{
font-size:11px; color:#0069a0;
font-weight:bold;
line-height:26px;
display:block;
color:#0069a0;
text-decoration:none;
line-height:23px;
}
#seperatore
{
border-top:1px solid #dddddd;
margin-left:22px;
float:left;
width:446px;
margin-top:10px;
}
#bottom_share
{
float:left;
margin-top:10px;
}
.bottom_share_buttons {
float:left;
}
.fb
{
float:left;
}
.tw
{
float:left;
width:99px;
}
.fb_sep
{
float:left;
border-right:1px solid #d0cfcf;
height: 18px;
margin-left: 10px;
margin-right: 10px;
}
.commentcount
{
float:left;
background-image:url(http://s.bloggeritems.com/template/webslot/image/comment_bg.png);
width:22px;
height:18px;
background-repeat:no-repeat;
text-align:center;
color:#fff;
padding-top:2px;
font-size:11px;
text-shadow:0 1px 1px #002c3b;
margin: 3px 0 0 3px;
}
.commenttext
{
float:left;
font-weight:normal;
color:#444444;
font-size:11px;
padding-left: 5px;
padding-top: 1px;
}
#content_right h2
{
color:#333333;
font-size:15px;
text-shadow: 0px 1px 1px #fff;
font-weight:normal;
}
#right-widgets .widget-content
{
width:275px;
background-color:#FFF;
}
#right-widgets
{
float:left;
border:1px solid #eee;
}
#right-widgets h2
{
color:#434343;
font-size:17px;
padding: 1.5em 0 0 0;
text-transform: uppercase;
font-weight: bold;
display: block;
}
#right-widgets li
{
color:#333;
}
#right-widgets ul li
{
font-size:12px;
color:#555555;
}
#right-widgets ul li a
{
color:#555555;
line-height:1.2em;
}
#right-widgets ul li a:hover
{
color: #AD3000;
}
#archive_wrap
{
float:left;
width:100%;
/*padding-left:5px;*/
}
#archive_wrap h1
{
color:#434343;
font-size:12px;
margin-top: 5px;
margin-bottom: 5px;
}
#archive_wrap ul
{
margin:0; padding:0; list-style:none;
}
#archive_wrap ul li
{
font-size:11px;
color:#555555;
}
#archive_wrap ul li a
{
color:#555555;
text-decoration:none;
line-height:28px;
}
#archive_wrap ul li a:hover
{
text-decoration:none;
color: #AD3000;
}
#pagination
{
margin-bottom: 10px;
margin-top: 10px;
padding: 5px 15px;
line-height: 1.5em;
color: #666;
}
#pagination .item-newer,  #pagination .item-older {
font-size: 14px;
margin: 10px 0;
}
#pagination .item-newer a,  #pagination .item-older a {
color: #0370A8;
}
#pagination ul
{
margin:0; padding:0; list-style:none;
}
#pagination ul li
{
}
#pagination ul .current
{
color:#666666;
text-decoration:none;
float:left;
border-radius:3px;
width:24px; height:24px; text-align:center;
color:#ffffff;
font-size:12px;
line-height:24px;
margin-left:2px;
padding:0px;
background: #666;
margin-right:2px;
}
#pagination ul a
{
color:#666666;
text-decoration:none;
float:left;
border-radius:3px;
border:1px solid #afafaf;
width:auto;
height:22px; text-align:center;
color:#666666;
font-size:12px;
line-height:24px;
padding:0 5px;
background-color: #f9f9f9;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea); /* Chrome 10+, Saf5.1+, iOS 5+ */
background-image:    -moz-linear-gradient(top, #f9f9f9, #eaeaea); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #f9f9f9, #eaeaea); /* IE10 */
background-image:      -o-linear-gradient(top, #f9f9f9, #eaeaea); /* Opera 11.10+ */
background-image:         linear-gradient(top, #f9f9f9, #eaeaea);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea'); /* IE6-IE9 */
-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,.15); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,.15); /* FF3.5 - 3.6 */
box-shadow: 0px 1px 1px 0px rgba(0,0,0,.15); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
-webkit-box-shadow:inset 0px 1px 1px 0px #fff; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow:inset 0px 1px 1px 0px #fff; /* FF3.5 - 3.6 */
box-shadow:inset 0px 1px 1px 0px #fff; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
margin-left:2px;
margin-right:2px;
}
#pagination ul a:hover {
background-color: #0370A8;
color: white;
background-image: none
}
#pagination ul span
{
float:left;
color:#666666;
font-size:12px;
line-height:22px;
padding-left:2px; padding-right:2px;
}
/*********INNER PAGE*************/
#main_image
{
}
#main_text
{
font-size: 13px;
line-height:1.5em;
font-weight: lighter;
clear: both;
}
#main_text h2
{
color:#333333;
font-size:18px;
}
#main_text h3
{
font-size:16px; color:#444444;
font-weight:normal;
}
#main_text h4
{
color:#444444;
font-size:12px;
}
#main_text ul
{
margin:0; padding:0;
}
#main_text li
{
margin-right:10px; padding:3px;
}
#main_text ul li.chirya
{
position:absolute;
right:0;
top: -55px;
list-style: none;
}
#author_title
{
color:#0370a8;
font-size:15px;
}
#author_title span
{
color:#333333;
font-size:13px;
}
#seperatore_main
{
border-top:1px solid #dddddd;
width:100%;
margin-top:13px;
margin-bottom:20px;
}
#post_wrap
{
background-color:#efefef;
padding:16px 15px;
border-top:1px solid #dcdbd8;
margin-right:2px;
}
#post_wrap h1
{
font-size:17px;
color:#333333;
padding:0;
}
#left_form
{
float:left;
width:295px;
padding-top:7px;
}
#right_form
{
float:right;
padding-top:7px;
}
.inputtext
{
width: 278px;
height: 26px; border:1px solid #cccccc;
background-color:#fff;
padding-left:10px;
font-size:13px; color:#444444;margin-top:5px; margin-bottom:5px;
}
#twitterpage
{
background-color:#edf8fd!important;
}
.textareainput
{
width:270px; height:90px; background-color:#fff;
border:1px solid #cccccc; padding:9px;
font-size:13px; color:#444444;
margin-top: 5px;
}
#twitter_feed
{
padding:0px 10px;
}
#noteitalic
{
color:#444444;
font-size:11px;
padding-top:15px;
padding-top: 9px;
}
#scr
{
margin-top:19px;
padding-right:18px;
width:168px;
float:left;
background-repeat:no-repeat;
}
#footerInner
{
width:100%;
margin:0 auto;
}
#footer .widget
{
width: 145px;
float: left;
color: #A6A6A6;
font-size: 12pt;
margin: 5px;
clear: none;
}
#footer .widgets-sep
{
background: #1C1C1C;
border-right: 1px solid #585858;
width: 1px;
float: left;
height: auto;
margin: 38px 15px 15px -19px;
}
#footer .widget h2
{
color: white;
border-bottom: 1px solid #232323;
padding: 0 0 10px;
width: 140px;
letter-spacing:1px;
text-shadow: 0px 1px 1px #000;
}
#footer a
{
color:#a6a6a6;
font-size:12px;
line-height:1.3em;
}
#footer a:hover, a:active
{
text-decoration:none;
}
#footer a:hover
{
color:#c2c2c2;
}
#footer .custom-widget a:hover
{
color:#a6a6a6;
}
#footer ul
{
width: 140px;
margin: 0;
padding: 0;
border-bottom: 1px solid #3C3C3C;
}
#footer ul li
{
background: transparent;
border-bottom: 1px solid #232323;
border-top: 1px solid #3C3C3C;
list-style: none;
padding: 4px 0 3px;
color: #ABABAB;
text-shadow: 0px 1px 1px black;
width: 140px;
}
.custom-widget
{
float:left;
width: 235px;
margin-left:2px;
margin-top:10px;
}
#footer .custom-widget a
{
font-size: 17px;
line-height:25px;
text-shadow: 0px 1px 1px black;
}
#wpadminbar #adminbar-search
{
height:21px;
}

#copyright-css {
background:#ddd;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border-left:5px solid #eee;
border-right:5px solid #eee;
border-bottom:5px solid #eee;
-moz-box-shadow:2px 2px 2px #808080;
-webkit-box-shadow:2px 2px 2px #808080;
box-shadow:2px 2px 2px #808080;
margin-top: 3px;
margin:0 auto;
padding:5px;
text-align: left;
width:400px;
}
.copyright {
font-size:12px;
font-weight:normal;
color:#333;
padding:3px;
}
.nibbler-badge{
position:absolute;
padding-left:3px;
margin:0 auto;
}
.breadcrumbs {
padding:5px 5px 5px 0;
margin:0;
font-size:11px;
line-height:1.3em;
border-bottom:3px double #e6e4e3;
}
.label-size {
margin:0 3px 6px 0;
padding:3px;
text-transform:uppercase;
border:solid 1px #AD3000;
background:#333;
float:left;
text-decoration:none;
font-size:11px;
color:#FFF;
}
.label-size:hover {
border:1px solid #860000;
background:#0089e0;
text-decoration:none;
-moz-transition:all 0.5s ease-out;
-o-transition:all 0.5s ease-out;
-webkit-transition:all 0.5s ease-out;
-ms-transition:all 0.5s ease-out;
transition:all 0.5s ease-out;
}
.label-size a {
text-transform:uppercase;
float:left;
text-decoration:none;
}
.label-size a:hover {
text-decoration:none;
}
.PopularPosts li {
padding:0;
border-bottom:1px solid #AD3000;
overflow:hidden;
}
.PopularPosts img {
float:left;
margin-right:5px;
}
.PopularPosts .item-thumbnail {
margin:0 5px 0 0;
border:4px double #AD3000;
width:35px;
height:35px;
background-color:#FFF;
box-shadow:0 4px 6px rgba(0,0,0,0.1),0 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow:0 4px 6px rgba(0,0,0,0.1),0 1px 1px rgba(0,0,0,0.3);
-webkit-box-shadow:0 4px 6px rgba(0,0,0,0.1),0 1px 1px rgba(0,0,0,0.3);
box-shadow:0 2px 6px rgba(0,0,0,0.1),0 1px 1px rgba(0,0,0,0.3);
}
.PopularPosts img {
padding-right:0;
width:100%;
height:100%;
display:block;
}
/* Modifikasi widget Arsip */
@keyframes list_archive_anima {
0% {
opacity:1.0;
margin-left:0;
color:brown;
}
60% {
opacity:0;
color:red;
}
100% {
opacity:1.0;
margin-left:-30px;
color:orange;
}
}
@-o-keyframes list_archive_anima {
0% {
opacity:1.0;
margin-left:0;
color:brown;
}
60% {
opacity:0;
color:red;
}
100% {
opacity:1.0;
margin-left:-30px;
color:orange;
}
}
@-ms-keyframes list_archive_anima {
0% {
opacity:1.0;
margin-left:0;
color:brown;
}
60% {
opacity:0;
color:red;
}
100% {
opacity:1.0;
margin-left:-25px;
color:orange;
}
}
@-moz-keyframes list_archive_anima {
0% {
opacity:1.0;
margin-left:0;
color:brown;
}
60% {
opacity:0;
color:red;
}
100% {
opacity:1.0;
margin-left:-25px;
color:orange;
}
}
@-webkit-keyframes list_archive_anima {
0% {
opacity:1.0;
margin-left:0;
color:brown;
}
60% {
opacity:0;
color:red;
}
100% {
opacity:1.0;
margin-left:-25px;
color:orange;
}
}
#BlogArchive1_ArchiveList ul.posts li {
list-style-type:circle;
width:95%;
color:brown;
}
#BlogArchive1_ArchiveList ul.posts li:hover {
animation:list_archive_anima 0.4s forwards;
-o-animation:list_archive_anima 0.4s forwards;
-ms-animation:list_archive_anima 0.4s forwards;
-moz-animation:list_archive_anima 0.4s forwards;
color:#ff0000;
}
#BlogArchive1_ArchiveList ul.posts li a {
text-decoration:none;
transition:color 1.5s;
-o-transition:color 1.5s;
-ms-transition:color 1.5s;
-moz-transition:color 1.5s;
-webkit-transition:color 1.5s;
}
#BlogArchive1_ArchiveList ul.posts li:hover a {
color:#ff0000;
}
/* Modifikasi widget Arsip */
/* Kumpulan button */
.button {
color:#7C7C7C;
font:15px 'Broadway',Arial,sans-serif;
text-shadow:1px 1px 0 rgba(255,255,255,0.4);
text-decoration:none !important;
white-space:nowrap;
display:inline-block;
vertical-align:baseline;
position:relative;
cursor:pointer;
padding:10px 20px;
background-repeat:no-repeat;
background-position:bottom left;
background-color:#f7f7f7;
background-position:bottom left,top right,0 0,0 0;
background-clip:border-box;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-moz-box-shadow:0 0 1px #fff inset;
-webkit-box-shadow:0 0 1px #fff inset;
box-shadow:0 0 1px #fff inset;
-webkit-transition:background-position 1s;
-moz-transition:background-position 1s;
transition:background-position 1s;
height:150;
width:200px;
font-size:25px;
margin:10px;
}
.button:hover {
color:#333;
background-position:top left;
background-position:top left,bottom right,0 0,0 0;
}
.button:active {
color:#000;
bottom:-1px;
}